.notes {
    width: clamp(300px, 90%, 800px);
    background-color: #F2E8DE;
}

.notes-tabs {
    height: 2.8rem;
    display: flex;
}

.tabs2 {
    display: flex;
}

.tab-s1 {
    width: 10rem;
    height: 100%;
    border: 2px solid var(--c-3);
    margin-bottom: -4px;
    border-top-right-radius: .5rem;
    border-top-left-radius: .2rem;
    background-color: #F2E8DE;

    z-index: 4;
    margin-right: -1rem;
}

.tab-s2 {
    width: 5rem;
    margin-right: -1rem;
    height: 100%;
    border: 2px solid var(--c-3);
    background-color: var(--c-4);

    border-top-right-radius: .5rem;
}

.in1 {
    z-index: 3;
}

.in2 {
    z-index: 2;
}

.tab-s1,
.tab-s2 {
    border-bottom: none;
}

.notes-index {
    margin-top: -2px;
    position: relative;
    border: 2px solid var(--c-3);
    border-top: none;
    z-index: 7;
    padding: 8% 8%;
    min-height: 500px;
    gap: 2rem;
}

.notes-index::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-top: 2px solid var(--c-3);
    width: calc(100% - 9.8rem);
}

.header-notes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
}

.p-desc {
    width: 77%;
    text-align: right;
}

.notes-content {
    gap: 1.5rem;
}


.notes-content li {
    border-bottom: 2px solid var(--c-3);
}

.note-entry article {
    width: 100%;
    gap: 0.5rem;
    padding: 0.8rem 0;
    padding-bottom: 2rem;
}

.kpr {
    width: fit-content;
    color: var(--c-2) !important;
    font-family: var(--font-1);
    font-size: var(--sm);
    line-height: 1.25;
}

.note-entry:last-of-type {
    border-bottom: none;
}

.tnd {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.tnd a {
    text-decoration: none;
    color: var(--c-2) !important;
    transition: 0.2s;

    &:hover {
        color: var(--c-1) !important;
    }
}


.date {
    text-align: center;
    background-color: color-mix(in srgb, var(--c-3), transparent 50%);
    font-weight: 700;
    padding: 0.2rem;
    height: fit-content;
    text-wrap: nowrap;
}

.load-m {
    width: 100%;
    display: flex;
    margin-top: 2%;
}

.load-m a {
    text-decoration: none;
}

.dsp {
    margin-left: auto;
}

.ant::before {
    content: "";
    display: inline-block;
    background-image: url('assets/icons/pen-page.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.6rem;
    height: .8rem;
    margin-right: 0.4rem;
    vertical-align: middle;
}

.desp:after {
    content: "";
    display: inline-block;
    background-image: url('assets/icons/pen-page.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.6rem;
    height: .8rem;
    margin-left: 0.4rem;
    vertical-align: middle;
    transform: scaleX(-1);
}

.dots-container {
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
}

.dots-container span {
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--c-3);
    border-radius: 50%;
    background-color: transparent;
}

/*Media queries*/

@media (min-width: 1280px) {}

@media (min-width: 1024px) {}


@media (max-width: 1024px) {}

@media (max-width: 768px) {
    .notes {
        width: 100%;
    }

    .notes-index {
        padding-top: 14%;
    }

    .header-notes {
        flex-direction: column;
        align-items: center;
    }

    .p-desc {
        width: 100%;
        text-align: center;
    }
}


@media (max-width: 480px) {
    .notes {
        min-width: 255px;
    }

    .tab-s1 {
        width: 6rem;
    }

    .tab-s2 {
        width: 4.4rem;
    }

    .notes-index::before {
        width: calc(100% - 5.7rem);
    }

    .tnd {
        flex-direction: column-reverse;
        gap: 0.4rem;
    }

    .ant::before, .desp:after {
    width: 2.1rem;

}


}